*/input/
*/_input/
*/_tigerInput/
*/_sample/

*/__pycache__/
*.py[cod]
*$py.class
*/.idea

*/.calva/*
*/.clj-kondo/*
*/.lein-repl-history
*/.lsp/*
*/.nrepl-port
*/target/*

*/2025/input.txt
*.exe
*/2025/.vscode/*
